$black: #000;
$half-black: #00000080;
$light-black: #343434;
$gray: #CBCBCB;
$dark-gray: #7F7F7F;
$blue: #4C96B0;
$white: #FFF;
$button-blue: linear-gradient(180deg, #36A7CE 0%, #0082AF 100%);
$red: #C13423;
$yellow: #FFC86D;

$font: 'Inter', sans-serif,